@media only screen and (max-width: 992px){
  .wrapper{
    width: 750px;
  }
  .image6 {
    padding: 550px 20px;
    margin: 0;
    background-attachment: fixed;
    background-clip: unset;
    background-size: cover;
}
h3 {
  font-weight: bolder;
  font-size: 150px;
  color: #c70a0a;
  text-align: center;
  padding-top: center;
  margin-bottom: 0%;
  max-width: auto;
  min-width: auto;
}
p{
  margin: 40px;
  font-size: 30px;
  text-align: left;
}
h2 {
  font-size: 60px;
  text-align: center;
}
a {
  list-style: none;
  margin: 0px 50px;
  display: inline-table;
  font-size: 60px;
  padding: 5px 5px;
  color: #ffffff;
  transition: .5s;
}
.style {
    font-size: 60px;
}
}