body{
  background-color: rgb(128, 116, 96);
  color: white;
  font-size: 21px;
}

.box{
  background-image: url(images/image2.jpg);
  padding: 200px 100px;
  margin: 100px;

  background-repeat: no-repeat;
  background-position: center;
}


h1{
  font-weight: lighter;
  font-size: 80px;
  color: #fff;
  text-align: center;
  padding-top: 50px; 
  margin-bottom: 0%;
}

a{
  color:white
}
