body{
  background-color: rgb(2, 8, 3);
  color: white;
  font-size: 21px;
}

.box{
  background-image: url(images/image6.jpg) ;
  padding:200px 100px ;
  margin: 100px;

  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
}


h1{
  font-weight: lighter;
  font-size: 80px;
  color: #fff;
  text-align: center;
  padding-top: 50px; 
  margin-bottom: 0%;
}


.overlay {
 
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(207, 108, 50);
  background-color: rgba(7, 31, 14, 0.596);
}


.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}


.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}


.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}