html{
  height: 100%;
  }
  
  
  
  
  
  body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 21px;
    margin: 0;
    line-height: 1.6;
  
    min-height: 100vh;
  
   display: flex;
   flex-direction: column;
  }

  .name{
    flex-direction: column;
  }
  
  .image6{
    background-image: url(images/image7.jpg);
    padding: 200px 100px;
    margin: 100px;
    background-attachment: fixed;
    background-clip: unset;
    
    background-size: cover;
  
  }
  
  
  h1{
    font-weight:bolder;
    font-size: 100px;
    color: rgb(243, 6, 6);
    text-align: center;
    padding-top: 10px; 
    margin-bottom: 0%;
    max-width: auto;
    min-width:auto;
  
  }
  
  h2{
    font-size: 40px;
    text-align: center;
  }
  

  p {
    margin: 10px;
    text-align: center;
  }
  .overlay {
   
    height: 100%;
    width: 100%;
    display:block;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.596);
  }
  
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  
  }
  
  /* Home...navigtor*/
  .overlay a {
    padding: 10px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #920b0b;
  }
  
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  .overlay .openbtn{
    position:static;
  
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
    h1{
      text-align: center;
    }

  }
  
  .imgagemy {
  float: right;
  margin: 10px 60px;
  opacity: 0.7;
}
/* Style the footer */
.footer {
  background-color: #857f7f;
  padding: 10px;
  text-align:center;

  margin-top:auto;
}

 
a {
  list-style:none;
  margin: 10px 30px;
  display:inline-table;
  font-size: 30px;
  padding: 10px 5px;
  color: #ffffff;
  transition: .5s;
}

a:hover{
 color: #292929;
 transition: .5s;
} 